# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# IDEs and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local Data & Databases (Do not push raw data/state to GitHub)
data/
docker/
.qdrant/
.minio/
*.log